---
layout: default
---

<header class="push--bottom">
  {% include profile_header.html show_bio=true show_social=true %}
</header>

<section class="flush--top">
  {% for post in site.posts %}
  <article class="card card--list push--bottom">
    <header class="align--center">
      <div class="card__date txt--x-small flush--top push_quarter--bottom txt--subtle">
        <span>{{ post.date | date: "%B %-d, %Y" }}</span>
      </div>
      <h2 class="hdg hdg--x-large flush--top push--bottom" dir="auto">
        {{ post.title }}
      </h2>
    </header>

    <div class="card__content" dir="auto">
      {{ post.excerpt | strip_html | truncatewords: 50 }}
    </div>

    <div class="card__actions">
      <a href="{{ post.url | relative_url }}" class="read-more">Read more</a>
    </div>
    
    <a class="card__link" aria-label="Post: {{ post.title }}, on {{ post.date | date: '%B %-d, %Y' }}" href="{{ post.url | relative_url }}"></a>
  </article>
  {% endfor %}
</section> 